* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: khaki;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  max-width: 1500px;
  padding: 0 60px;
  margin: 0 auto;
}

.header,
.footer {
  padding: 20px 60px;
  background-color: dimgray;
  color: white;
}

.header {
  position: sticky;
  top: 80px;
  margin-bottom: 100px;
  margin-top: 40px;
}

.header-container {
  position: relative;
  padding-left: 220px;
}

.avatar {
  position: absolute;
  left: 0;
  top: calc(50% - 200px / 2);
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 10px double darksalmon;
  object-fit: cover;
  object-position: bottom;
  transition: border-color .125s;
}

.avatar:hover {
  border-color: tomato;
}

.main-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
}

.subtitle {
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.footer {
  padding-bottom: 80px;
}

.section {
  padding: 30px 0;
}