* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  /* background-color: khaki; */
  background-color: rgb(87, 144, 146);
  font-family: "Nunito Sans", sans-serif;
}

.container {
  max-width: 1456px;
  padding: 0 60px;
  margin: 0 auto;
}

.header,
.footer {
  padding: 20px 0;
  background-color: khaki;
  color: white;
}

.header {
  padding-bottom: 0;
  margin-bottom: 60px;
  margin-top: 80px;
}

.header-container {
  position: relative;
  padding-left: 288px;
  padding-right: 288px;
}

.main-title {
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: rgb(87, 144, 146);
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.anchor {
  position: relative;
  display: block;
  padding: 10px;
  border-radius: 10px;
  color: rgb(87, 144, 146);
  text-decoration: none;
  transition: color 0.3s;
}

.anchor:hover {
  color: black;
}

.avatar {
  position: absolute;
  left: 59px;
  top: calc(50% - 200px / 2 - 10px);
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 15px solid khaki;
  object-fit: cover;
  object-position: bottom;
  transition: transform 1s;
}

.avatar:hover {
  transform: rotate(360deg);
}

.section {
  padding: 20px 0;
}

.subtitle {
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(219, 253, 253);
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: khaki;
}

.subsubtitle {
  margin-left: 20px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 24px;
  color: khaki;
}

.text {
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 22px;
  color: rgb(219, 253, 253);
}

.big-margin {
  margin-bottom: 20px;
}

.skills-list {
  padding: 0 20px;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}

.skill {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 22px;
  background-color: lightcyan;
  border-radius: 10px;
  color: cadetblue;
  gap: 10px;
  cursor: default;
}

.skill-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.pre {
  margin: 0 20px;
  padding: 16px;
  background-color: #2c3a3a;
  border-radius: 10px;
  overflow-x: scroll;
}

.code {
  font-family: Consolas, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgb(219, 253, 253);
}

.bold {
  font-weight: 600;
}

.projects {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.card {
  padding: 8px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  transition: transform .3s;
}

.card:hover {
  transform: scale(1.03);
}

.card-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.card-img {
  display: block;
  /* margin: 8px; */
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid black;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.github-logo,
.rs-logo {
  object-fit: contain;
  transition: transform .4s;
}

.github-logo:hover,
.rs-logo:hover {
  transform: scale(1.1);
}

.github-logo {
  margin-left: 20px;
  width: 80px;
  height: 80px;
}

.rs-logo {
  margin-right: 20px;
  width: 160px;
  height: 80px;
}

@media (max-width: 1454px) {
  .skills-list {
    justify-content: space-evenly;
  }
}